body
{
	color:black;
	background-image:url("tlogra.png");
	background-repeat: no-repeat;
	background-color:#D7C8B4;
}
#logo
{

	margin-top:20px;	
	text-align:center;
	min-height:150px;
	opacity:0.8;
}
#logo:hover
{
	opacity:1;
}
#login
{
	margin-top:10px;
	font-size:40px;
	position:fixed;
	left:35%;
	font-weight:bold;
}

a
{
	color:#fff;
	font-size:20px;
	text-decoration:none;
	letter-spacing:2px;
	
}
a:hover
{
	text-decoration:none;
	color:darkblue;
}




